body{
   
}
header{
    background-color: rgb(142, 166, 90);
    text-align: center;
    font-size: x-large;
    padding-top: 50px;
    padding-bottom: 20px;
}
h1, h2 , p , ol, ul {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

header h1{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
}
header img{

    width: 40%;
    height: 30%;
}
main{
    margin-right: 15%;
    margin-left: 15%;
}
main img{
    width: 450px;
    height: 275px;
}
a{ 
    color: black;
}
a:hover{
    color: rgb(142, 166, 90); 
}
footer{
    margin: 0;
    background-color: rgb(142, 166, 90);
    padding: 20px;
    text-align: center;
}
p.gris{ 
    color: #999;
    font-style: italic;
    margin: 0;
}
main li { 
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}